@model List<EquipmentManagementAsp.Models.Equipment>

@{
    ViewData["Title"] = "Equipamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Lista de Equipamentos</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Installation</th>
            <th>Batch</th>
            <th>Operator</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Version</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Installation)</td>
                <td>@Html.DisplayFor(modelItem => item.Batch)</td>
                <td>@Html.DisplayFor(modelItem => item.Operator)</td>
                <td>@Html.DisplayFor(modelItem => item.Manufacturer)</td>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.Version)</td>
                <td>
                    <a href="@Url.Action("Details", "Equipment", new { id = item.Id })" class="btn btn-info btn-sm">Detalhes</a>
                </td>
            </tr>
         }   
    </tbody>
</table>
